@import 'styles/colors';

.wrapper {
  margin: 20px 0;
}

.container {}


.filters {
  background-color: transparent;

  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:first-child {
      margin-bottom: 35px;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__date {
    margin-left: 50px;
  }
}

.table {
  border-radius: 12px;
  background-color: #fff;
  position: relative;

  &_loading {
    user-select: none;
    pointer-events: none;
  }

  &_loading .row {
    opacity: 0.6;
  }

  &__loader {
    z-index: 10;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%) scale(4);
  }
}



.row {
  min-height: 65px;
  padding: 10px 40px 10px 12px;
  display: grid;
  grid-template-columns: 32px 55px 90px 130px 325px 215px 175px auto;
  grid-template-rows: minmax(50px, auto);
  align-items: center;

  &_header {
    color: #899CB1;
    border-bottom: 1px solid #EAF0FA;
    font-size: 14px;
  }

  &_date {
    display: flex;
    align-items: end;

    .displayDate {
      position: relative;
      font-size: 15px;

      &__count {
        position: absolute;
        bottom: 50%;
        left: 105%;
        font-size: 12px;
        color: $icon;
      }
    }
  }

  &_content {
    border-bottom: 1px solid #EAF0FA;
    font-size: 15px;

    &:hover {
      background-color: #D4DFF32B;
    }
  }

  &__duration {
    margin-left: auto;
  }

  .employee {
    display: flex;
    align-items: center;

    &__ava {
      height: 32px;
      width: 32px;
      object-position: center;
      object-fit: cover;
    }

    &__webIcon {
      margin-left: 44px;
    }
  }

  .call {
    &__name {
      font-weight: 500;
      margin-bottom: 10px;
    }

    &__number {
      &_secondary {
        color: $text-secondary;
      }
    }
  }

  .source {
    line-height: 20px;
    color: $text-secondary;
  }

  .grade {
    &__error {
      color: $red;
    }
  }

  .duration {
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    
    &__loader {
      position: absolute;
      top: 0;
      left: 45%;
    }
  }
}



.checkbox {
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;

  &_visible {
    opacity: 1;
    visibility: visible;
  }
}

.pointer {
  cursor: pointer;
}

.failed {
  & > svg {
    color: $red;
  }
}