@import 'styles/colors';

.calendar {
  height: 24px;
  min-width: 115px;

  &__title {
    min-width: 220px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    color: $icon;
    transition: 0.1s;
    padding: 0 10px;

    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      &__arrowLeft {
        margin-right: 10px;
      }

      &__arrowRight {
        margin-left: 10px;
      }

      &__calendar {
        margin-right: 10px;
      }
    }

    & > span {
      text-transform: capitalize;
      color: $accent;
    }

    &:hover {
      color: $accent;
    }
  }

  &__item {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px 0px 20px;
    min-height: 40px;
    transition: 0.1s;

    font-size: 14px;
    color: #899CB1;

    &:hover {
      color: #000;
      background-color: #002efb1e;
    }

    &_active {
      color: $accent;

      &:hover {
        color: $accent;
      }
    }


  }

  .datesRange {
    display: flex;
    color: $accent;

    &__line {
      margin: 0 3px;
    }
  }

  &__date {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: default;

    & > span {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &:hover {
      color: #899CB1;
      background-color: #ffffff;
    }

    &_title {
      margin-bottom: 10px;
    }

  }

}