@import 'styles/colors';

.calendar {
  height: 24px;
  min-width: 115px;

  &__buttons {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__button {
    color: $icon;
    transition: 0.1s;

    &:first-child {
      text-align: left;
      flex-grow: 1;
    }

    &:last-child {
      text-align: right;
      flex-grow: 1;
    }

    &:hover {
      color: $accent;
    }
  }

  &__button_text {
    padding: 0 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      margin-right: 5px;
    }

    & > span {
      text-transform: capitalize;
      color: $accent;
      margin-left: 8px;
    }
  }


  &__item {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px 0px 20px;
    min-height: 40px;
    transition: 0.1s;

    font-size: 14px;
    color: #899CB1;

    &:hover {
      color: #000;
      background-color: #002efb1e;
    }

    &_active {
      color: $accent;

      &:hover {
        color: $accent;
      }
    }


  }

  .datesRange {
    display: flex;

    &__line {
      margin: 0 3px;
    }
  }

  &__date {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: default;

    & > span {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &:hover {
      color: #899CB1;
      background-color: #ffffff;
    }

    &_title {
      margin-bottom: 10px;
   }

  }

}