// FIXME Переименовать в colors.scss

$sidebar-bg: #091336;
$sidebar-bg-active: #D8E4FB52;

$accent: #002CFB;
$accent-hover: #0024CB;
$accent-active: #274BC8;

$secondary: #D8E4FB;
$icon: #ADBFDF;

$text-secondary: #5E7793;

$light-green: #DBF8EF;
$green: #28A879;
$yellow: #FFD500;

$light-red: #FEE9EF;
$red: #EA1A4F;

